.formElement{
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    /* gap: 0.2rem; */
    align-items: flex-end;
}
.formElement small{
    font-size: 0.7rem;
    color: var(--error-col);
    height: 15px;
}
input{
    width: 100%;
    padding: 1rem 5%;
    border: 0.1rem solid var(--col-1);
    border-radius: 0.6rem;
}
input.error, textarea.error{
    border-color: var(--error-col);
}
textarea{
    width: 100%;
    padding: 1rem 5%;
    border: 0.1rem solid var(--col-1);
    border-radius: 0.6rem;
}